{
    "parser": "babel-eslint",
    "extends": ["airbnb-base"],
    "plugins": [],
    "env":
    {
        "mocha": true,
        "browser": true,
        "node": true
    },
    "rules":
    {
      "func-names": ["error", "never"],
      "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["exports"] }],
    }
}